.book-card{max-width:210px;border:none}
.card-img{width:100%;object-fit:cover;cursor:pointer;height: 300px;}
.card-content{display:flex;justify-content:space-between;align-items: center;}
.card-info{display:flex;flex-direction:column}
.card-author{margin-bottom:10px;color:#000;text-decoration:none}
.card-price{color:var(--secon-bg-color);font-size:20px}